In [1]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

In [6]:
base_site = "https://editorial.rottentomatoes.com/guide/best-sports-movie-of-all-time/"

response = requests.get(base_site)
response.status_code

200

In [3]:
html = response.content
soup = BeautifulSoup(html, "lxml")

1. Name of the movie

In [12]:
div_notes = soup.find_all("div", {"class": "article_movie_title"})
div_notes[0]

<div class="article_movie_title" style="float: left;">
<div><h2><a href="https://www.rottentomatoes.com/m/blue_crush">Blue Crush</a> <span class="subtle start-year">(2002)</span> <span class="icon tiny fresh" title="Fresh"></span> <span class="tMeterScore">62%</span></h2></div>
</div>

In [5]:
film_names = div_notes[0].find('a').text
film_names

'Blue Crush'

2. Year it was produced

In [10]:
film_year = div_notes[0].find('span').text.strip("()")
film_year

'2002'

3. Score

In [16]:
film_score = div_notes[0].find('span', {"class":"tMeterScore"}).text
film_score = "%"+film_score[:-1]
film_score

'%62'

4. Director

In [17]:
div_notes2 = soup.find_all("div", {"class": "info director"})
div_notes2[:3]

[<div class="info director">
 <span class="descriptor">Directed By:</span> <a class="" href="//www.rottentomatoes.com/celebrity/john_stockwell">John Stockwell</a></div>,
 <div class="info director">
 <span class="descriptor">Directed By:</span> <a class="" href="//www.rottentomatoes.com/celebrity/bill_paxton">Bill Paxton</a></div>,
 <div class="info director">
 <span class="descriptor">Directed By:</span> <a class="" href="//www.rottentomatoes.com/celebrity/gary_fleder">Gary Fleder</a></div>]

In [18]:
film_director = div_notes2[0].find('a').text
film_director

'John Stockwell'

In [32]:
names = []
year = []
score = []
director = []

for div in div_notes:
    sub_titles = div.find('a').text
    sub_year = div.find('span').text.strip("()")
    sub_score = "%"+div.find('span', {"class":"tMeterScore"}).text[:-1]
    
    names.append(sub_titles)
    year.append(sub_year)
    score.append(sub_score)
    
for div in div_notes2:
    sub_director = div.find('a').text
    director.append(sub_director)

In [33]:
len(names)

150

In [34]:
len(year)

150

In [35]:
len(score)

150

In [36]:
len(director)

150

In [37]:
type(score[0])

str

In [38]:
type(director[0])

str

5. Combine all the above infor in a single, useful file.

In [39]:
import pandas as pd

In [40]:
nm = pd.DataFrame(names, columns = ["title"])

In [41]:
yr = pd.DataFrame(year, columns = ["year"])

In [42]:
sc = pd.DataFrame(score, columns = ["score"])

In [43]:
drc = pd.DataFrame(director, columns = ["director"])

In [44]:
combine = pd.concat([nm, yr, sc, drc], axis = 1)
combine

                             title  year score            director
0                       Blue Crush  2002   %62      John Stockwell
1    The Greatest Game Ever Played  2005   %63         Bill Paxton
2                      The Express  2008   %62         Gary Fleder
3                        Rocky III  1982   %64  Sylvester Stallone
4                             Cobb  1994   %65         Ron Shelton
..                             ...   ...   ...                 ...
145        Fighting With My Family  2019   %93    Stephen Merchant
146                   The Wrestler  2008   %98    Darren Aronofsky
147                       I, Tonya  2017   %90     Craig Gillespie
148                          Creed  2015   %95        Ryan Coogler
149                 Ford v Ferrari  2019   %92       James Mangold

[150 rows x 4 columns]

In [45]:
combine.isna().sum()

title       0
year        0
score       0
director    0
dtype: int64